<!DOCTYPE html>
<html>
  <head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (locals.base) { %>
      <base href="<%- locals.base %>"/>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Showcase</title>
  </head>
  
  <body>
    <div id="app"><%- (locals.body || '') %></div>
  </body>
  
  <script src="vendor.js"></script>
  <script src="style.js"></script>
  <!-- And if you use css themes you need require add their js files. -->
  <script src="<%- (locals.body ? 'showcase' : 'html-showcase') %>.js"></script>
</html>